---
layout: layouts/home.njk
---

For a mobile-friendly version, refer to <a href="../vis/gym">this page</a>. The source code is located <a href="https://github.com/gdewael/st-alpha-progression">here</a>.

<p style="text-align: center;">
  <iframe src="../../vis/gym/index.html" width="750" height="1250" frameBorder="0"></iframe>
</p>

<br>
