---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

{% image "./pic.png", "A photo of me", "300" %}

<p>

Hi, I'm a Postdoctoral researcher at the <a href="https://www.uantwerpen.be/en/research-groups/adrem-data-lab/">Adrem Data Lab</a> at the University of Antwerp.
Currently, I am performing research on language modeling for mass spectrometry data.
Previously, I did a PhD at the Department of Data analysis and Mathematical Modelling at Ghent University.
You can read the PhD dissertation <a href="https://backoffice.biblio.ugent.be/download/01K4YWG2M7H416YH6J0Y2EEDXY/01K4XKJ6QHYK841BKRHECJNFR4">here</a>.

<p>

I'm an avid <a href="./map">hiker/camper</a>, I obsess over <a href="./food">cooking</a>, and I'm a budding gardener.

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
