---
layout: layouts/home.njk
---
<h1>Map</h1>

This map contains some of my travels.

<a href="../blog/maphosting">This blogpost</a> describes how I created it.

<iframe src="../treks/index.html" width="700" height="450"></iframe>
