---
layout: layouts/home.njk
---
<h1>Travel map</h1>

<p style="text-align: center;">
  <iframe src="../treks/index.html" width="700" height="450"></iframe>
  <br>
  <i>A map containing my multi-day trails</i>
</p>

<br>

For the time being, it only contains multi-day trails. It may be updated in the future to include places visited using more-conventional means of travel.
<a href="../blog/travelmapping">This blogpost</a> describes how I created it.
